/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(src\img\Broto_Verde.jfif);
    background-repeat:no-repeat;
    background-size:auto;
    background-position: center center;
    opacity: 95%;
}